<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <title>FullStackToDoList</title>
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- inject:css -->
    <!-- endinject -->
</head>

<body ng-controller="ToDoController as vm">
    <div class="container">
        <h1><strong>Very Simple ToDo FullStack</strong></h1>
        <br>
        <div class="container-fluid">
            <!-- left side
	search panel -->
            <div class="panel panel-info col-sm-4 form-group">
                <div class="panel-heading text-left ">Whats so Important: </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label>Task: </label>
                        <input ng-model="vm.newEvent" type="text" id="input" placeholder="Task" class="form-control"></input>
                    </div>
                    <div class="form-group">
                        <label>Priority: </label>
                        <select id="Priority" ng-init="vm.selectedOption= vm.options[0]" ng-model="vm.selectedOption" ng-options="option.number as option.priority for option in vm.options" ng-class="vm.selectedOption" class="form-control"></select>
                    </div>
                    <div class="panel-footer text-left">
                        <button class="btn btn-primary" id="submit" type="submit" ng-click="vm.addToDo()">Add Event</button>
                    </div>
                </div>
            </div>
            <!-- right side
	sorters -->
            <div class="col-sm-8">
                <div id="priorityOrder" class="text-center">
                    <a class="btn btn-primary" ng-click="sortField='toDo.toDoPriority'; reverse = !reverse">Priority Order</a>
                    <a class="btn btn-primary" ng-click="sortField='toDoItem'; reverse = !reverse">Alphabetical Order</a>
                </div>
                <!--   results - edit button and styling still unfinished -->
                <table>
                    <tr ng-repeat="toDo in vm.toDos | orderBy: sortField: reverse">
                        <td class="form-inline">
                            <div class="form-group">
                                <div ng-class="{'bg-info': toDo.toDoPriority==1, 'bg-warning': toDo.toDoPriority==2, 'bg-danger': toDo.toDoPriority==3}">{{toDo.toDoItem}}</div>
                                <button ng-click="vm.deleteToDo(toDo.toDoID, $index)" class="input-group btn btn-info glyphicon glyphicon-remove"></button>
                                <button ng-click="vm.editToDo(toDo.toDoItem); editing = !editing" class="btn btn-warning glyphicon glyphicon-pencil"></button>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <!-- endbower -->
    <!-- inject:js -->
    <script src="/app/app.js"></script>
    <script src="/app/ToDo.Controller.js"></script>
    <script src="/app/ToDoFactory.js"></script>
    <!-- endinject -->
</body>

</html>
